// 변수 지정
/* 주석 */
//주석
$color: royalblue;

.container1 {
  h1 {
    color: $color;
    background-color: orange;
    font-size: 60px;
  }
}

.container2 {
  ul {
    li {
      font-size: 40px;
      .name {
        color: tomato;
      }
    
      .age {
        color: green;
      }
    }
  }
}

// & 상위 선택자 참조
.btn {
  position: absolute;
  &.active {
    color: red;
  }
}

.list {
  li {
    &:last-child {
      margin-right: 0;
    }
  }
}

.fs {
  &-small {font-size: 12px;}
  &-medium {font-size: 14px;}
  &-large {font-size: 16px;}
}